<%- include("partials/header.ejs") %>
 
<form action="/" method="POST">
    <div class="form-group">
      <input type="text" id="cityInput" class="form-control" placeholder="Enter the city name" name="cityName" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-primary go-button">Go</button>
</form>


</body>
</html>